footer{
    width: 100%;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.footer__language{
    padding:24px 0 24px 0;
    line-height: 16.8px;
    font-size: 12px;
    letter-spacing: 0;
    font-family: "Open Sans";
}

.footer__info{
    width: 1136px;
    height: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #d4d4d0;
    border-bottom: 1px solid #d4d4d0;
    justify-content: space-between;
}

.footer__info_block{
    width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__info_block:first-child{
    justify-content: space-evenly;
}

.footer__info_block-link{
    line-height: 1.2;
    color: #666;
    font-size: 16px;
    font-family: "Open Sans";
}

.footer__search{
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    font-weight: normal;
    font-family: "Open Sans";
    line-height: 1.4;
}

.footer__connected{
    font-weight: normal;
    color: #666;
    font-size: 16px;
    font-family: "Open Sans";
    line-height: 1.4;
    padding-top: 40px;
    margin-bottom: 14px;
}

.footer__links{

}

.footer__img{
    margin-right: 15px;
}

.footer__text{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    width: 1100px;
    justify-content: space-between;
}

.footer__text_par{
    width: 90%;   
    font-size: 13px;
    font-family: "Open Sans";
    line-height: 1.4;
}

.footer__btn{
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 600;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #0033a0;
    text-decoration:underline;
    margin-top: 10px;
}

.footer__btn::before{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 2px;
    border: solid #2172ba;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    width: 6px;
    height: 6px;
    margin-right: 5px;
}

@media(max-width:1150px){
    .footer__info{
        width: 92%;
        height: 75px;
    }
    
    .footer__text{
        width: 92%;
    }
    
    .footer__text_par{
        width: 90%;   
        font-size: 13px;
        font-family: "Open Sans";
        line-height: 1.4;
    }
    
    .footer__btn{
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 0;
        font-weight: 600;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #0033a0;
        text-decoration:underline;
        margin-top: 10px;
    }
    
    .footer__btn::before{
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-left: 2px;
        border: solid #2172ba;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
        width: 6px;
        height: 6px;
        margin-right: 5px;
    }
}

@media(max-width:944px){

    .footer__text{
        flex-direction: column;
        width: 95%;
        text-align: center;
        align-items: center;
    }
    .footer__text_par{
        width: 90%;   
        font-size: 13px;
        font-family: "Open Sans";
        line-height: 1.4;
    }

    .footer__info{
        height: auto;
    }
}

@media(max-width:415px){
    .footer__info{
        flex-direction: column;
        height: 400px;
    }

    .footer__info_block{
        border-bottom:1px solid gray ;
        max-width: 100%;
    }

    .footer__info_block-link{
        padding-bottom: 10px; 
        max-width: 100%;
    }

}